{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      {% for product in products %}
        <div class="col-md-4">
          <div class="product-card">
            <img src="{{ product.image.url }}" class="product-image" alt="{{ product.name }}">
            <div class="product-details">
              <h3 class="product-name">{{ product.name }}</h3>
              <p class="product-category">{{ product.category }}</p>
              <p class="product-price">Cost: ${{ product.cost_price }}</p>
              <!-- Add more details as needed -->
              <a href="{#}" class="btn btn-primary">Buy</a>
              <a href="{#}" class="btn btn-warning">Update</a>
              <a href="{#}" class="btn btn-danger">Delete</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
